
html {
    font-size: 16px;
    }

body {
    background-color: lightgoldenrodyellow;
    }

h1 {
    text-align: center;
    text-decoration: underline;
    margin-bottom: .3rem;
    }

address {
    font-style: normal;
    text-align: center;
    }


h2 {
    text-decoration: underline;
    text-align: center;
  
    }
    
p.objective {
    margin-top: -1rem;
    font-style: italic;
    text-align: center;
    }

h2.internships {
    text-align: left;
    font-weight: bold;
    margin-bottom: 0.5rem;
    background-color: darkgoldenrod;
    }

h3.internships {
    margin-top: 0.5rem;
    margin-bottom: .25rem; 
    }
    
h4.internships {
        margin-top: -0.1rem;
        margin-bottom: 1.65rem;
        font-style: italic;
        font-size: medium;
    }

ul {
    margin-top: -1rem;
    margin-bottom: 0.5rem;
}

h2.experience {
    text-align: left;
    font-weight: bold;
    margin-bottom: 0.5rem;
    background-color: darkgoldenrod;
    }

h3.experience {
    margin-top: 0.5rem;
    margin-bottom: .25rem; ;
    }
    
h4.experience {
    margin-top: -0.1rem;
    margin-bottom: 1.65rem;
    font-style: italic;
    font-size: medium; 
    }


h2.education {
    text-align: center; 
    font-weight: bold;
    margin-bottom: 0.5rem;
    background-color: darkgoldenrod;
    }

h3.education {
    text-align: center;
    }
    
h4.education {
    text-align: center;
    font-style: italic;
    }

h2.certifications {
    text-align: center;
    background-color: darkgoldenrod
}

h3.certifications {
    text-align: center;
    }
    
h4.certifications {
    font-style: italic;
    text-align: center;
}

h2.skills {
    background-color: darkgoldenrod;
    text-align: center;
    margin-bottom: 0.8rem;
    }

p.skills {
    font-weight: bold;
    text-align: center;
    margin-top: -.3rem;
    margin-bottom: 0.7rem;
    }
    
